
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



* {
   padding: 0;
   margin: 0;
   box-sizing:border-box;
   font-family: 'Poppins', sans-serif;
}
/* :root{
   --primary-color:#fff;
   --secondary-color:#000;

} */


body {
   background-color: #F7F7F7;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
}

main {
   width: 100%;
}

footer {
   /* position:absolute; */
   bottom: 0%;
   width: 100%;
   left: 0%;
 
   box-shadow: 0 16px 70px --8px rgba(0, 0, 0, 0.25);
   border-radius: 20px 20px 0 0;
   transition: background 0.3s linear;
}


.container {
   max-width: 1300px;
   padding: 30px 40px;
   margin: auto;

}

.content_footer {
display:flex;
justify-content:space-around;
   align-items: center;
   margin-bottom: 1rem;
}
.profile .logo_area{
   display: flex;
   align-items: center;
   margin-bottom: 1rem;
}
.profile .logo_area img{
   height: 20%;
   width: 20%;
   border-radius: 50%;
   border: 1px solid #fff;
}
.logo_area .logo_name{
   font-size: 1.5rem;
   font-weight: 700;
   margin: 0 1rem;
   color:black;

}
.description_area {
   max-width: 400px;
   margin-bottom: 1.25rem;
   font-size: 10px;
   
}
.description_area p{
   color:black;
   font-weight: 400;
   line-height: 28px;
   
}
.social_media a{
   color: rgb(243, 9, 9);
   margin-right: 7px;
   font-size: 37px;
}

.social_media a:hover{
   color:rgb(47, 181, 235);
}
.subscribe_newsletter{
   color: black;
   font-size: 1.5rem;
   font-weight: 600;
   margin: 0 1rem;
   /* margin-top: 50px; */
}
.findus_header .classname_name {
   color:#000;
   font-size: 1.5rem;
   font-weight: 600;
   margin: 0 1rem;

}
.findus_header li i{
   color: black;
   font-size: 17px;
   font-weight: 300;
   margin: 0 1rem;
   margin-bottom: 8px;

}
.collegeurl_navgitation{
   color: #000;
   font-size: 14px;
   margin-top: 8px;
   margin-left: 20px;
}



.navbar_navigation_header{
   color: black;
   font-size: 1.5rem;
   font-weight: 600;
   margin-top: 30px;
   /* margin: 0 1rem; */
}
.navbar_navigation_header li i{
   color:#000;
   font-weight: 300;
   font-size: 17px;
   margin: 0 1rem;
   margin-bottom: 1px;
}
.navbar_navigation_header li i:hover{
   
   text-decoration-line: underline;
   font-style: italic;
}

.terms_and_conditions a{
   color:black;
   font-weight: 550;
   font-size: 1.5rem;
   
   
   
}
.terms_and_conditions a:hover{
   text-decoration: underline;
}
/* hr{
   background-color: #fff;
   border:black;
   height: 2px;
   margin-bottom: 1rem;

} */
.footer_bottom{
   display:flex;
   justify-content: space-between;
   font-size: 14px;
   
}
.copyright{
   
   color: black;
}
.coreQ li a{
   color: black;
}
.coreQ li a:hover{
   text-decoration-line: underline;
   font-style: italic;
}

.newsletter-box{
   display: flex;
   margin-top: 3px;
   margin-bottom: 20px;
   
}
.newsletter-box .newsletter-box-btn{
   margin-left: 4px;
}

@media screen and (max-width: 768px){
   .content_footer{
      flex-wrap: wrap;
      justify-content: left;
   }
   .footer_bottom{
      flex-wrap: wrap;
      justify-content: center;
   }
   .collegeurl_navgitation{
      flex-wrap: wrap;
      justify-content: left;
   }
   .profile{
      flex-wrap: wrap;
      justify-content: right;
   }
}